.modal-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5.1rem;
  right: 2.5rem;
  background-color: white;
  background-color: rgba(41, 0, 0, 0.2);
  border: 0.2rem solid #7a0000;
  border-radius: 0.5rem;
  /* width: 24.1%; */
  width: 15rem;
  z-index: 111;
}