.modal{
  display: flex;
  justify-content: center;
  position: absolute;
  height: 10%;
  height: 1.9rem;
  width: 25%;
  width: 17rem;
  background-image: linear-gradient(to top, #200d00, rgba(10, 4, 0, 0.5));
  border: 0.2rem solid rgb(255, 81, 0);
  border-radius: 0.6rem;
  transform: translate(-50%, -50%);
  background-color: #21f800;
  border-color: #37ac25;
  top: 110px;
  right: -135px;
}

.modal h1{
  color: #FFF;
  font-size: 0.6rem;
  text-align: justify;
}
