/* Variables */

:root{
  /* Morado */
  --moradoTranqui:#863bc4;
  --moradoCool:#490f94; 
  --moradoClaro:#8027e6; 
  --moradoApagadoOscuro: #2c0750; 
  --inte: #2f2644;
  --moradotop: #120020;
  --morado: #8A4F7D;
  --moradoplus:  #3b0369;
  --moradoFluor: #a41ace;
  /* Amarillo */
  --amarillo: #ffe44cda;
  --amarilloClaro: #FFD56A;
  /* Naranja */
  --naranja: #b9701ce5;
  --naranjaplus: #FF8800;
  --naranjaBrillante: #FF6633;
  --naranjaClaro: #FFAC6A;
  /* Azul */
  --azul: #007396;
  --azulverdoso: #7EA8AA;
  --azulSaturado: #4d5ace;
  /* Verde */
  --verde: #095000;
  --verdeclaro: #A8D8AA;
  --verdeSaturado: #4EE85F;
  --verdeSat: #45ca55c5;
  /* Rosado */
  --ros: #E84A5F;
  --rosV: #f56c80;
  --rosD: #c51933;
}

.card {
  border-radius: 1rem;
  /* padding: 10px 25px; */
  box-sizing: border-box;
  /* background-color: #292929; */
  /* background-color: linear-gradient(to bottom, #3b0369, rgba(216, 92, 92, 0.5)); */
    margin: auto;
  background-color: #170f22;  
  background-image: linear-gradient(to bottom, #120020, rgba(31, 10, 10, 0.473));
  width: 320px;  
  height: 480px;
  position: relative;
  border: 0.2rem solid var(--rosD);
  box-shadow: 0px 0px 8px 2px rgba(228, 74, 95, 0.5);
  /* ... */
  transform: scale(1);
  transition: transform 0.3s ease;
}

.card-title-container{
  display: flex;
  align-items: center;
  /* padding: 1rem; */
  padding-bottom: 0.1rem;
  text-decoration: none !important;
  height: 5em;
  justify-content:center;
  text-align: justify;
  margin-top: 0.5rem;
  /* margin-bottom: 0.4rem; */
}

.card-title {
  display: inline-block;
  text-decoration: none !important;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #C7C7C7; /* Color del título */
  color: var(--ros);
  margin: 0;
  margin: 0.9rem;
  padding: 0.5rem;
}

.card-title:hover{
  text-decoration: none;
  color:var(--ros);
  text-shadow: 0px 0px 5px rgba(228, 74, 95, 0.418);
  text-shadow: 0px 0px 5px rgba(232, 74, 95, 0.8);
}

.card-image img {
  max-width: 100%;
  border-radius: 0.4rem;
  width: 250px;
  height: 180px;
  object-fit: cover;
  /* border: 2px solid #C7C7C7; Borde de la imagen */
  /* border: 2px solid #FEDC56; */
  /* border: 2px solid #FF8800; */
  border: 0.2rem solid var(--naranjaBrillante); /* Hacemos el borde inicialmente transparente */
  box-shadow: 0px 0px 8px 2px rgba(228, 74, 95, 0.5); /* Efecto de iluminado */
}

.card-subtitle {
  justify-content: center;
  color: var(--ros); /* Color del subtítulo */
  font-weight: bold;
  font-size: 1.6rem;
  text-shadow: 0px 0px 5px rgba(232, 74, 95, 0.8);
  margin: 0;
  margin-top: 0.66rem;
  padding-bottom: 0.5rem;
}


.card-elements {
  flex-shrink: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: linear-gradient(to bottom, #2f2644, rgba(27, 23, 37, 0.5)); */
  /* background-color: #1B1725; */
  /* color: #C7C7C7; */
  /* color: #3b0369; */
  /* padding: top right bottom left */
  /* padding: 0.1rem 0rem; */
  /* padding-bottom: 1.5rem; */
  /* padding: auto; */
  /* margin-bottom: 1rem; */
}

.card-elements p {
  /* flex-shrink: 1;   */
  /* flex-basis: 10%; */
  width: 35.5%;
  /* margin-bottom: 10px; */
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  text-align: center;
  padding: 0.25rem;
  background-color: #1B1725;
  color: var(--verdeSaturado);
  font-weight: 500;
  border: 0.1rem solid var(--verdeSaturado);
  margin: 0;
  margin: 0.4rem 0;
  /* font-weight: bold; */
}

/* ---------- */

.card-rating-released {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--ros); /* Puedes utilizar tu variable personalizada --ros */
  height: 10%;
  /* margin-top: 10px;  */
  margin: auto;
  width: 100%;
  /* visibility: hidden; */
  opacity: 0;
  /* transition: visibility 0.5s ease-in; */
  transition: opacity 0.3s ease-in;
  /* background-color: var(--naranjaplus); */
  /* margin-top: 1rem; */
}


.card-rating-released p {
  margin: 5px 0; /* Ajusta los márgenes superior e inferior según tus necesidades */
  padding: 0px 1rem;
  font-weight: bold;
  font-size: .8rem;
  /* margin-right: 1rem; */
  margin-left: 1rem;
}

.card-rating-released span {
  font-weight: bold;
  color: #FFF;
}

.card-rating-released img {
  width: .8rem;
  height: .8rem;
}

/* Hover */

.card:hover {
  transform: scale(1.10);
  box-shadow: 0px 0px 8px 2px rgba(228, 74, 95, 0.5);
  border: 0.3rem solid var(--ros);
}

.card-title:hover{
  font-size: 1.5rem;
}

.card:hover .card-elements p{
  box-shadow: 0px 0px 8px 2px rgba(78, 232, 95, 0.5);
  text-shadow: 0px 0px 5px rgba(78, 232, 95, 0.8);
}


.card:hover .card-rating-released {
  /* visibility: visible; */
  opacity: 1;
}