/* Variables */

:root{
  /* Morado */
  --moradoTranqui:#863bc4;
  --moradoCool:#490f94; 
  --moradoClaro:#8027e6; 
  --moradoApagadoOscuro: #2c0750; 
  --inte: #2f2644;
  --moradotop: #120020;
  --morado: #8A4F7D;
  --moradoplus:  #3b0369;
  --moradoFluor: #a41ace;
  /* Amarillo */
  --amarillo: #ffe44cda;
  --amarilloClaro: #FFD56A;
  /* Naranja */
  --naranja: #b9701ce5;
  --naranjaplus: #FF8800;
  --naranjaBrillante: #FF6633;
  --naranjaClaro: #FFAC6A;
  /* Azul */
  --azul: #007396;
  --azulverdoso: #7EA8AA;
  --azulSaturado: #4d5ace;
  /* Verde */
  --verde: #095000;
  --verdeclaro: #A8D8AA;
  --verdeSaturado: #4EE85F;
  --verdeSat: #45ca55c5;
  /* Rosado */
  --ros: #E84A5F;
  --rosV: #f56c80;
  --rosD: #c51933;
}

.page-transition {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.page-enter {
  opacity: 0;
}

.home-container{
  display: flex;
  flex-direction: column;
}
.home {
  display: grid;
  grid-template-columns: auto 1fr;
  text-align: center;
  background-color: #2b1213;  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  min-height: 100vh;
  min-width: 100vh;
}
