.card-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(20.6rem, 1fr));
  margin: auto;
  gap: 2.5rem;
  padding: 8.5rem 2.5rem;
  box-sizing: border-box;
  height: 100%;
  justify-items: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  background-color: rgba(206, 4, 4, 0.45);
  background-image: url('../../image//6272395.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  /* background-color: #FFF; */
}
