 .card-grid {
  /* display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(320px, 2fr));
  margin: auto;
  gap: 2.5rem;
  padding: 8.5rem 2rem; */
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); /* Cambiado a 1fr */
  margin: auto;
  gap: 2.5rem;
  padding: 8.5rem 2rem; 
  /* Nav */
  box-sizing: border-box;
  column-gap: 2.5rem;
}
