.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  /* border: 10px solid #582626; */
  background-color: #FFF;
  background-image: url('../../image/Error.jpg');
  padding:9rem 2rem;
  min-height: 70.3vh;
  max-height: 240vh;
}

.title {
  font-size: 2rem;
  color: #FFF;
  /* margin-bottom: 5rem; */
}

.text-container{
  margin-top: 30rem
}
.text{
  font-size: 1.2rem;
  color: #999;
}

.text-container button{
  border: 0.2rem solid #E84A5F;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  background-color: #000;
  color: #FFF;
}

.text-container  button:hover{
  cursor: pointer;
  color: #E84A5F;;
}