.aside-order{
  color: #FFF;
  border: 0.3rem solid var(--ros);
  background-image: linear-gradient(to right, #120020, rgba(31, 10, 10, 0.815));
  border-radius: 2rem;
  box-shadow: 0px 0px 8px 2px rgba(228, 74, 95, 0.5);
  padding: 0.5rem 2rem;
  padding-bottom: 1.5rem;
}

.aside-order h1{
  font-size: 1.5rem;
}

.aside-order p{
  font-size: 1rem;
  color: var(--naranjaBrillante);
}