.landing{
  background-image: url('../../image//A\ background\ fo\ 0.png');
  height: 120vh;
  display: flex;
  flex-direction: column;
}

.home{
  justify-content: center;
  align-items: center;
  color:aliceblue;
  text-decoration: none;
  padding: 1rem;
  border: 0.5rem solid brown;
  border-radius: 2rem;
  background-color: bisque;
  width: 10%;
}

.button{
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 170px;
  height: 160px;
  border: none;
  margin-bottom: 320px;
  cursor: pointer;
}

.button:hover {
 background-color: black;
}

